.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: rgb(33, 32, 32);
}

.center_section{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_section a{
  text-decoration: none;
  color: rgb(33, 32, 32);
  margin: 0 10px;
}

.right_section{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left_section{
  flex: 1;
display: flex;

}
.logo{
 font-size:30px;
}
.nova{
  position: absolute;
  top: 2px;
  left: 50px;
  color: red;
  font-weight: bold;
}
.login_btn{
  border: none;
  background-color: white;
}
.get_started_btn{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(173, 165, 165);
  width: 150px;
  height: 30px;
  border-radius: 40px;
  margin: 5px;
}
.arroy_icon{
  text-align: center;
  background-color: red;
  border-radius: 50%;
  width: 40px;
  color: white;
  padding: 1px;
  margin: 3px;
}
.getbtn{
  border: none;
  background-color: white;
  
}

.girl_image{
  background-image: url('./img/girl.png.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 227px;
  
}
.container_girl{
  background-color: rgb(212, 205, 205);
  width: 900px;
  height: 227px;
}
.container_home{
  display: flex;
  justify-content: space-between;
}